<!DOCTYPE html>

<html lang="vi" class="loading-site no-js">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="pingback" href="xmlrpc.php">
    <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
    <title>Nghe nhạc online - Đoàn Văn Khương</title>
    <meta name='robots' content='max-image-preview:large'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='font-awesome-css' href='~/Content/wp-content/plugins/ot-flatsome-vertical-menu/libs/menu-icons/vendor/codeinwp/icon-picker/css/types/font-awesome.min.css?ver=4.7.0' type='text/css' media='all'>
    <link rel='stylesheet' id='menu-icons-extra-css' href='~/Content/wp-content/plugins/ot-flatsome-vertical-menu/libs/menu-icons/css/extra.min.css?ver=0.12.2' type='text/css' media='all'>
    <link rel='stylesheet' id='wp-block-library-css' href='~/Content/wp-includes/css/dist/block-library/style.min.css?ver=5.7.10' type='text/css' media='all'>
    <link rel='stylesheet' id='wc-block-vendors-style-css' href='~/Content/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style.css?ver=5.1.0' type='text/css' media='all'>
    <link rel='stylesheet' id='wc-block-style-css' href='~/Content/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css?ver=5.1.0' type='text/css' media='all'>
    <link rel='stylesheet' id='contact-form-7-css' href='~/Content/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.4.1' type='text/css' media='all'>
    <link rel='stylesheet' id='ot-vertical-menu-css-css' href='~/Content/wp-content/plugins/ot-flatsome-vertical-menu/assets/css/style.css?ver=1.2.3' type='text/css' media='all'>
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel='stylesheet' id='dashicons-css' href='~/Content/wp-includes/css/dashicons.min.css?ver=5.7.10' type='text/css' media='all'>
    <link rel='stylesheet' id='flatsome-ionicons-css' href='font-awesome/4.7.0/css/font-awesome.min.css?ver=5.7.10' type='text/css' media='all'>
    <link rel='stylesheet' id='flatsome-icons-css' href='~/Content/wp-content/themes/flatsome/assets/css/fl-icons.css?ver=3.12' type='text/css' media='all'>
    <link rel='stylesheet' id='flatsome-main-css' href='~/Content/wp-content/themes/flatsome/assets/css/flatsome.css?ver=3.13.3' type='text/css' media='all'>
    <link rel='stylesheet' id='flatsome-shop-css' href='~/Content/wp-content/themes/flatsome/assets/css/flatsome-shop.css?ver=3.13.3' type='text/css' media='all'>
    <link rel='stylesheet' id='flatsome-style-css' href='~/Content/wp-content/themes/shop2/style.css?ver=3.0' type='text/css' media='all'>
    <link rel='stylesheet' id='flatsome-googlefonts-css' href='css?family=Roboto%3Aregular%2C500%2Cregular%2C500%7CDancing+Script%3Aregular%2Cdefault&#038;display=swap&#038;ver=3.9' type='text/css' media='all'>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery.min.js?ver=3.5.1' id='jquery-core-js'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <link rel="https://api.w.org/" href="~/Content/wp-json/index.htm">
    <link rel="alternate" type="application/json" href="~/Content/wp-json/wp/v2/pages/2">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="~/Content/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/wp-includes/wlwmanifest.xml">
    <link rel="alternate" type="application/json+oembed" href="~/Content/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fshop2.giaodienwebmau.com%2F">
    <link rel="alternate" type="text/xml+oembed" href="~/Content/wp-json/oembed/1.0/embed-1?url=https%3A%2F%2Fshop2.giaodienwebmau.com%2F&#038;format=xml">
    <style>
        .bg {
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s;
        }

        .bg-loaded {
            opacity: 1;
        }
    <noscript>
    <style>
        .woocommerce-product-gallery {
            opacity: 1 !important;
        }
    </style></noscript>
    <link rel="icon" href="~/Content/wp-content/uploads/2018/08/cropped-Logo-GiuseArt-32x32.jpg" sizes="32x32">
    <link rel="icon" href="~/Content/wp-content/uploads/2018/08/cropped-Logo-GiuseArt-192x192.jpg" sizes="192x192">
    <link rel="apple-touch-icon" href="~/Content/wp-content/uploads/2018/08/cropped-Logo-GiuseArt-180x180.jpg">
    <meta name="msapplication-TileImage" content=" ~/Content/wp-content/uploads/2018/08/cropped-Logo-GiuseArt-270x270.jpg">
    <link href="~/Content/css.css" rel="stylesheet" />
</head>
<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-2 theme-flatsome ot-vertical-menu ot-menu-show-home woocommerce-no-js lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">
    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
    <div id="wrapper">
        <header id="header" class="header ">
            <div class="header-wrapper">
                <div id="top-bar" class="header-top hide-for-sticky nav-dark">
                    <div class="flex-row container">
                        <div class="flex-col hide-for-medium flex-left">
                            <ul class="nav nav-left medium-nav-center nav-small  nav-">
                                <li class="html custom html_topbar_left">Thế giới nhạc online</li>
                            </ul>
                        </div>
                        <div class="flex-col hide-for-medium flex-center">
                            <ul class="nav nav-center nav-small  nav-">
                            </ul>
                        </div>
                        
                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="nav top-bar-nav nav-right nav-small  nav-">
                                @if ((Session["UserName"] != null))
                                {
                                    string username = Session["DisplayName"] as string;

                                    <li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198 menu-item-design-default"><a  onclick="userPanel()" class="nav-top-link"><i class="_mi _before fa fa-user" aria-hidden="true"></i><span>@username</span></a></li>
                                }
                                else
                                {
                                    <li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-198 menu-item-design-default"><a href="login" class="nav-top-link"><i class="_mi _before fa fa-user" aria-hidden="true"></i><span>Tài khoản</span></a></li>
                                }

                                <li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-199 menu-item-design-default"><a onclick="userPanel()" class="nav-top-link"><i class="_mi _before fa fa-refresh" aria-hidden="true"></i><span>VIP</span></a></li>
                                @if ((Session["UserName"] != null))
                                {
                                    string username = Session["DisplayName"] as string;

                                    <li id="menu-item-201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-201 menu-item-design-default"> <a onclick="userPanel()" class="nav-top-link"><i class="_mi _before fa fa-map-marker" aria-hidden="true"></i><span>Hệ thống</span> </a></li>
                                }
                                else
                                {
                            <li id="menu-item-201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-201 menu-item-design-default"><a href="login" class="nav-top-link"><i class="_mi _before fa fa-map-marker" aria-hidden="true"></i><span>Hệ thống</span></a></li>
                                }
                                
                            </ul>
                        </div>

                        <div class="flex-col show-for-medium flex-grow">
                            <ul class="nav nav-center nav-small mobile-nav  nav-">
                                <li class="html custom html_topbar_left">Thế giới nhạc online</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div id="masthead" class="header-main hide-for-sticky nav-dark">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">

                        <!-- Logo -->
                        <div id="logo" class="flex-col logo">
                            <!-- Header logo -->
                            <a href="index.htm" title="Thế giới nhạc online" rel="home">
                                <img width="260" height="92" src="~/Content/hinh/banner.jpg" class="header_logo header-logo" alt="Thế giới nhạc online"><img width="260" height="92" src="~/Content/hinh/banner.jpg" class="header-logo-dark" alt="Thế giới nhạc online">
                            </a>
                        </div>

                        <!-- Mobile Left Elements -->
                        <div class="flex-col show-for-medium flex-left">
                            <ul class="mobile-nav nav nav-left ">
                                <li class="nav-icon has-icon">
                                    <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="is-small" aria-label="Menu" aria-controls="main-menu" aria-expanded="false">

                                        <i class="icon-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Left Elements -->
                        <div class="flex-col hide-for-medium flex-left
            flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-uppercase">
                                <li class="header-block">
                                    <div class="header-block-block-1">
                                        <div class="row row-small" id="row-1398706747">


                                            <div id="col-1898712573" class="col medium-8 small-12 large-8">
                                                <div class="col-inner">



                                                    <div id="gap-418638655" class="gap-element clearfix" style="display:block; height:auto;">

                                                        <style>
                                                            #gap-418638655 {
                                                                padding-top: 22px;
                                                            }
                                                        </style>
                                                    </div>


                                                    <div class="searchform-wrapper ux-search-box relative is-normal">
                                                        <form role="search" method="get" class="searchform" action=" ">
                                                            <div class="flex-row relative">
                                                                <div class="flex-col search-form-categories">
                                                                    <select class="search_categories resize-select mb-0" name="product_cat">
                                                                        <option value="" selected='selected'>All</option>
                                                                        <option value="XemChuDe?id=1">Nhạc host trong tuần</option>
                                                                        <option value="XemChuDe?id=2">Hot trong tháng</option>
                                                                        <option value="XemChuDe?id=3">Hot trong năm</option>
                                                                        <option value="XemChuDe?id=4">Nhạc Bolero</option>
                                                                        <option value="XemChuDe?id=5">Nhạc Trẻ</option>
                                                                        <option value="XemChuDe?id=6">Top 100 nhạc Việt</option>
                                                                        <option value="XemChuDe?id=7">Top 100 nhạc Hoa</option>
                                                                        <option value="XemChuDe?id=8">Top 100 nhạc Hàn</option>
                                                                        <option value="XemChuDe?id=9">Top 100 nhạc Âu - Mỹ</option>
                                                                        <option value="XemChuDe?id=10">Top 100 Rap Việt</option>
                                                                        <option value="XemChuDe?id=11">Top 100 Rap Âu - Mỹ</option>
                                                                    </select>
                                                                </div>
                                                                <div class="flex-col flex-grow">
                                                                    <label class="screen-reader-text" for="woocommerce-product-search-field-0">Tìm kiếm:</label>
                                                                    <input type="search" id="woocommerce-product-search-field-0" class="search-field mb-0" placeholder="Tìm kiếm bài hát..." value="" name="s">
                                                                    <input type="hidden" name="post_type" value="product">
                                                                </div>
                                                                <div class="flex-col">
                                                                    <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit">
                                                                        <i class="icon-search"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="live-search-results text-left z-top"></div>
                                                        </form>
                                                    </div>

                                                </div>
                                            </div>



                                            <div id="col-1636997241" class="col medium-2 small-12 large-2">
                                                <div class="col-inner">
                                                    <div id="gap-175210081" class="gap-element clearfix" style="display:block; height:auto;">

                                                        <style>
                                                            #gap-175210081 {
                                                                padding-top: 17px;
                                                            }
                                                        </style>
                                                    </div>

                                                    <div class="icon-box featured-box icon-box-left text-left">
                                                        <div class="icon-box-img" style="width: 20px">
                                                            <div class="icon">
                                                                <div class="icon-inner">
                                                                    <img width="150" height="150" src="~/Content/wp-content/uploads/2018/07/phone.png" class="attachment-medium size-medium" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2018/07/phone.png 150w, ~/Content/wp-content/uploads/2018/07/phone-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="icon-box-text last-reset">
                                                            <strong><span style="color: #fffcfc; font-size: 80%;">Gọi Nâng VIP</span></strong>
                                                            <strong><span style="font-size: 100%; color: #fffcfc;">0869.329.339</span></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="col-1291432091" class="col medium-2 small-12 large-2">
                                                <div class="col-inner">
                                                    <div id="gap-159765208" class="gap-element clearfix" style="display:block; height:auto;">

                                                        <style>
                                                            #gap-159765208 {
                                                                padding-top: 17px;
                                                            }
                                                        </style>
                                                    </div>
                                                    <div class="icon-box featured-box icon-box-left text-left">
                                                        <div class="icon-box-img" style="width: 20px">
                                                            <div class="icon">
                                                                <div class="icon-inner">
                                                                    <img width="150" height="150" src="~/Content/wp-content/uploads/2018/07/phone.png" class="attachment-medium size-medium" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2018/07/phone.png 150w, ~/Content/wp-content/uploads/2018/07/phone-100x100.png 100w" sizes="(max-width: 150px) 100vw, 150px">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="icon-box-text last-reset">
                                                            <strong><span style="color: #fffcfc; font-size: 80%;">Gọi tư vấn</span></strong>
                                                            <strong><span style="font-size: 100%; color: #fffcfc;">0987.881.298</span></strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <style>
                                                #row-1398706747 > .col > .col-inner {
                                                    padding: 0px 0px 0 0px;
                                                }
                                            </style>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
 <script>
     function userPanel() {
         var type = '@Session["Type"]';
         if (type == 0) { window.location.href = "/Admin/Index"; }
         else { window.location.href = "/Home/Index"; }
     }
 </script>
                </div><div id="wide-nav" class="header-bottom wide-nav hide-for-sticky nav-dark flex-has-center">
                    <div class="flex-row container">

                        <div class="flex-col hide-for-medium flex-left">
                            <ul class="nav header-nav header-bottom-nav nav-left  nav-size-large nav-spacing-xlarge">
                                <div id="mega-menu-wrap" class="ot-vm-click">
                                    <div id="mega-menu-title">
                                        <i class="icon-menu"></i> Danh mục 
                                    </div>
                                    <ul id="mega_menu" class="sf-menu sf-vertical">
                                        <li id="menu-item-24" class="khuyen-mai-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-24"><a title="khuyen-mai-goc" href="XemChuDe?id=1"><i class="_mi _before fa fa-fire" aria-hidden="true" style="font-size:1.3em;"></i><span>Nhạc host trong tuần</span></a></li>
                                        <li id="menu-item-1077" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1077">
                                            <a href="XemChuDe?id=2"><i class="_mi _before fa fa-coffee" aria-hidden="true"></i><span>Hot trong tháng </span></a>
                                        </li>
                                        <li id="menu-item-67" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-67">
                                            <a href="XemChuDe?id=3"><i class="_mi _before fa fa-heartbeat" aria-hidden="true" style="font-size:1.3em;"></i><span>Hot trong năm</span></a>
                                        </li>
                                        <li id="menu-item-1078" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1078">
                                            <a href="XemChuDe?id=4"><i class="_mi _before fa fa-user-md" aria-hidden="true"></i><span>Nhạc Bolero</span></a>
                                        </li>
                                        <li id="menu-item-1079" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1079"><a href="XemChuDe?id=5"><i class="_mi _before fa fa-laptop" aria-hidden="true"></i><span>Nhạc Trẻ</span></a></li>
                                        <li id="menu-item-1080" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1080"><a href="XemChuDe?id=6"><i class="_mi _before fa fa-archive" aria-hidden="true"></i><span>Top 100 nhạc Việt</span></a></li>
                                        <li id="menu-item-1081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1081"><a href="XemChuDe?id=7"><i class="_mi _before fa fa-female" aria-hidden="true"></i><span>Top 100 nhạc Hoa</span></a></li>
                                        <li id="menu-item-1263" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1263"><a href="XemChuDe?id=8"><i class="_mi _before fa fa-heartbeat" aria-hidden="true"></i><span>Top 100 nhạc Hàn</span></a></li>
                                        <li id="menu-item-1263" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1263"><a href="XemChuDe?id=9"><i class="_mi _before fa fa-heartbeat" aria-hidden="true"></i><span>Top 100 nhạc Âu - Mỹ</span></a></li>
                                        <li id="menu-item-1263" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1263"><a href="XemChuDe?id=10"><i class="_mi _before fa fa-heartbeat" aria-hidden="true"></i><span>Top 100 Rap Việt</span></a></li>
                                        <li id="menu-item-1263" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1263"><a href="XemChuDe?id=11"><i class="_mi _before fa fa-heartbeat" aria-hidden="true"></i><span>Top 100 Rap Âu - Mỹ</span></a></li>
                                        <li id="menu-item-1263" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1263"><a href="XemChuDe?id=12"><i class="_mi _before fa fa-heartbeat" aria-hidden="true"></i><span>Nhạc Hoa</span></a></li>
                                    </ul>
                                </div>
                            </ul>
                        </div>

                        <div class="flex-col hide-for-medium flex-center">
                            <ul class="nav header-nav header-bottom-nav nav-center  nav-size-large nav-spacing-xlarge">
                                <li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-105 active menu-item-design-default"><a href="index" aria-current="page" class="nav-top-link">Trang chủ</a></li>
                                <li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101 menu-item-design-default"><a href="ChuDe" class="nav-top-link">Chủ đề</a></li>
                                <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106 menu-item-design-default"><a href="BXH" class="nav-top-link">BXH</a></li>
                                <li id="menu-item-1153" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1153 menu-item-design-default"><a href="Album" class="nav-top-link">Album</a></li>
                                <li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100 menu-item-design-default"><a href="MSVideo" class="nav-top-link">Music Video</a></li>
                                <li id="menu-item-946" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-946 menu-item-design-default"><a href="CaSi" class="nav-top-link">Nghệ sĩ</a></li>
                                <li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103 menu-item-design-default"><a href="VIP" class="nav-top-link">VIP</a></li>
                            </ul>
                        </div>

                        <div class="flex-col hide-for-medium flex-right flex-grow">
                            <ul class="nav header-nav header-bottom-nav nav-right  nav-size-large nav-spacing-xlarge">
                                <li class="cart-item has-icon has-dropdown">
                                    <a href="gio-hang/index.htm" title="Giỏ hàng" class="header-cart-link is-small">
                                        <span class="header-cart-title">
                                            Mua VIP
                                        </span>
                                        <i class="icon-shopping-basket" data-icon-label="0">
                                        </i>
                                    </a>
                                    <ul class="nav-dropdown nav-dropdown-default">
                                        <li class="html widget_shopping_cart">
                                            <div class="widget_shopping_cart_content">
                                                <p class="woocommerce-mini-cart__empty-message">Chưa có sản phẩm trong giỏ hàng.</p>
                                            </div>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div><!-- header-wrapper-->
        </header>

    @RenderBody()
       

        <footer id="footer" class="footer-wrapper">

            <section class="section tin-khuyen-mai" id="section_2015005114">
                <div class="bg section-bg fill bg-fill  ">
                </div>
                <div class="section-content relative">
                    <div class="row row-large" id="row-968032614">
                        <div id="col-972480661" class="col cot1 medium-6 small-12 large-6">
                            <div class="col-inner">
                                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1398127483">
                                    <div class="img-inner dark">
                                        <img width="550" height="157" src="~/Content/wp-content/uploads/2018/08/banner_newsletter.png" class="attachment-original size-original" alt="" loading="lazy" srcset="~/Content/wp-content/uploads/2018/08/banner_newsletter.png 550w, ~/Content/wp-content/uploads/2018/08/banner_newsletter-300x86.png 300w" sizes="(max-width: 550px) 100vw, 550px">
                                    </div>
                                    <style>
                                        #image_1398127483 {
                                            width: 100%;
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>

                        <div id="col-1521498721" class="col cot2 medium-6 small-12 large-6">
                            <div class="col-inner">
                                <div id="gap-1528885345" class="gap-element clearfix" style="display:block; height:auto;">

                                    <style>
                                        #gap-1528885345 {
                                            padding-top: 44px;
                                        }
                                    </style>
                                </div>


                                <div role="form" class="wpcf7" id="wpcf7-f687-o1" lang="vi" dir="ltr">
                                    <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                                    <form action="/#wpcf7-f687-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="687">
                                            <input type="hidden" name="_wpcf7_version" value="5.4.1">
                                            <input type="hidden" name="_wpcf7_locale" value="vi">
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f687-o1">
                                            <input type="hidden" name="_wpcf7_container_post" value="0">
                                            <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                        </div>
                                        <div class="flex-row form-flat medium-flex-wrap">
                                            <div class="flex-col flex-grow">
                                                <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Địa chỉ email (*)"></span>
                                            </div>
                                            <div class="flex-col ml-half">
                                                <input type="submit" value="Đăng ký" class="wpcf7-form-control wpcf7-submit button">
                                            </div>
                                        </div>
                                        <div class="wpcf7-response-output" aria-hidden="true"></div>
                                    </form>
                                </div>


                            </div>
                        </div>



                    </div>

                </div>


                <style>
                    #section_2015005114 {
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }

                        #section_2015005114 .section-bg.bg-loaded {
                            background-image: url(~/Content/wp-content/uploads/2018/08/bg_newsletter.png);
                        }
                </style>
            </section>



            <div class="fb-customerchat" attribution="setup_tool" page_id="587064751475387" theme_color="#ff7e29" logged_in_greeting="Xin chào ! Bạn cần hỗ trợ  ?" logged_out_greeting="Xin chào ! Bạn cần hỗ trợ  ?">
            </div>
            <div class="absolute-footer dark medium-text-center text-center">
                <div class="container clearfix">


                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                            Sinh viên: Đoàn Văn Khương, trường Đại Học Trà Vinh
                        </div>
                    </div>
                </div>
            </div>
            <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle" id="top-link"><i class="icon-angle-up"></i></a>

        </footer><!-- .footer-wrapper -->

    </div><!-- #wrapper -->
 
    
    <div id="login-form-popup" class="lightbox-content mfp-hide">
        <div class="woocommerce-notices-wrapper"></div>
        <div class="account-container lightbox-inner">


            <div class="account-login-inner">

                <h3 class="uppercase">Đăng nhập</h3>

                <form class="woocommerce-form woocommerce-form-login login" method="post">


                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="username">Tên tài khoản hoặc địa chỉ email&nbsp;<span class="required">*</span></label>
                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="">
                    </p>
                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                        <label for="password">Mật khẩu&nbsp;<span class="required">*</span></label>
                        <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password">
                    </p>


                    <p class="form-row">
                        <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                            <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Ghi nhớ mật khẩu</span>
                        </label>
                        <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="a357931d70"><input type="hidden" name="_wp_http_referer" value="/">						<button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Đăng nhập">Đăng nhập</button>
                    </p>
                    <p class="woocommerce-LostPassword lost_password">
                        <a href="tai-khoan/lost-password/index.htm">Quên mật khẩu?</a>
                    </p>


                </form>
            </div>


        </div>

    </div>
    
</body>
</html>




